// ----------------------------
// переопределение переменных bootstrap
// ----------------------------
// конец переопределения переменных bootstrap
@import 'bootstrap';

$bg-color: white;

html {
  background: $bg-color;
}

.thumbnail-wrap{
  width: 25%;
}
